/*
colors used:
Black: #000000;
Dark blue: #13334c;
Purple: #4627ff; Visited: #5100e0; Active: #4600e0
Lighter blue: #005792;
Orange: #fdf500; Active: #e63fob
Parchment: #f7f7eb;
White: #ffffff;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
}

h1,
h2,
h3,
h4 {
  color: #005792;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  color: #13334c;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h3.listheader {
  text-decoration: underline;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

a {
  color: #005792;
  text-decoration: none;
}

a:visited {
  color: #4627ff;
}

a:hover,
a:focus {
  color: #5100e0;
  text-decoration: underline;
}

a:active {
  color: #4600e0;
  font-weight: 600;
}

img,
svg {
  width: 100%;
  height: auto;
}

svg {
  display: flex;
  justify-content: space-around;
}

.button {
  display: inline-block;
  background-color: #f7f7eb;
  color: #005792;
  font-size: 1.3em;
  font-weight: 400;

  padding: 10px;
  border-radius: 3px;
  border: 2px solid #005792;

  /* width of the border, type, color */
  transition-property: border;
}

.button:hover,
.button:focus {
  border: 2px solid #5100e0;
  text-decoration: none;
}

.button:active {
  border: 2px solid #4600e0;
  font-weight: 400;
}

.button.notbuilt {
  display: none;
}

.button.contact {
  background-color: #fd5f00;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #fd5f00;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #ffffff;
  color: #fd5f00;
  border: 2px solid #fd5f00;
  opacity: 0.8;
}

.button.contact:active {
  background-color: transparent;
  color: #e63f0b;
  border: 2px solid #e63f0b;
}

#emailbutton {
  display: flex;
  justify-content: center;
}

/* Layout styling */
header {
  background-color: #f7f7eb;
  box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.75);
  padding: 7px 0;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 60px;
}

footer {
  background-color: #f7f7eb;
  border-top: 2px solid #13334c;
  padding: 8px 0;
  width: 100%;
}

#social_icons {
  width: 100%;
  text-align: center;
}

#social_icons img {
  width: 44px;
}

#social_icons ul {
  padding: 0;
}

#social_icons li {
  display: inline-block;
}

#social_icons span {
  display: block;
  padding: 0 8px;
  font-size: 0.8em;
}

.container {
  padding: 0 16px;
}

.feature {
  width: 100%;
  text-align: center;
}

#work .row,
#my_story,
.section {
  border-bottom: 2px solid #13334c;
  padding-bottom: 24px;
  margin: 24px 0; /* 24px top and bottom, 0 left and right */
}

#logo {
  max-width: 250px;
  color: #13334c;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 900;
  justify-content: flex-start;
  text-transform: none;
}

#logo:visited {
  color: #13334c;
}

#logo:hover,
#logo:focus {
  color: #005792;
  text-decoration: none;
}

#logo:active {
  color: #005792;
  font-weight: 900;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 4px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #005792;
  text-transform: none;
}

nav > ul > li > a:visited {
  color: #005792;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

nav > ul > li > a:active {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

.navtoggle li:not(:last-child),
.navtoggle nav.brackets {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fd5f00;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 1.8em;
  padding-right: 0;
}

.portfolio nav > ol {
  border-top: 2px solid #005792;
  border-bottom: 2px solid #005792;
  margin: 1em auto;
  padding: 1.5em 0;
  text-align: center;
  width: 100%;
}

.portfolio nav > ol > li {
  display: inline-block;
}

.portfolio nav > ol > li > a {
  padding: 2em 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #005792;
  text-transform: none;
}

.portfolio nav > ol > li > a:visited {
  color: #005792;
}

.portfolio nav > ol > li > a:hover,
.portfolio nav > ol > li > a:focus {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

.portfolio nav > ol > li > a:active {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

#hero,
#workhero {
  background-color: #f7f7eb;
  display: inline-block;
  padding: 0.5em 0;
  width: 100%;
}

#workhero h1 {
  font-size: 1em;
  text-align: center;
}

#about h2,
#about h3,
#about h4 {
  margin: 8px 0;
  padding: 0;
}

#about li > p {
  margin: 0.5em 0;
}

#copyright {
  color: #13334c;
  font-size: 0.75em;
  text-align: center;
}

/* ==============================
CSS animation
================================= */
@keyframes the-move {
  0% {
    transform: translate(-20.5%, 10%) rotate(-4deg);
  }

  40% {
    transform: translate(-20.5%, 10%) rotate(-4deg);
  }

  80% {
    transform: none;
    fill: #002b54;
  }

  100% {
    transform: none;
    fill: #49c7ee;
  }
}

.themove {
  animation: 5s the-move infinite alternate ease;
}

@keyframes wall-move {
  0% {
    transform: translate(-42.5%, 38%) rotate(-26deg);
  }

  40% {
    transform: translate(-42.5%, 38%) rotate(-26deg);
  }

  80% {
    transform: none;
    fill: #002b54;
  }

  100% {
    transform: none;
    fill: #49c7ee;
  }
}

.wallmove {
  animation: 5s wall-move infinite alternate ease;
}

@keyframes box-move {
  0% {
    transform: translate(-13%, 18%) rotate(-16deg);
  }

  40% {
    transform: translate(-13%, 18%) rotate(-16deg);
  }

  80% {
    transform: none;
    fill: #002b54;
  }

  100% {
    transform: none;
    fill: #49c7ee;
  }
}

.fourthmove,
.boxmove {
  animation: 5s box-move infinite alternate ease;
}

@keyframes open-door {
  0% {
    transform: translate(-30%, 0);
  }

  50% {
    transform: translate(-30%, 0);
    fill: #002b54;
  }

  80% {
    transform: translate(1px, 0);
    fill: #002b54;
  }

  100% {
    transform: translate(1px, 0);
    fill: #49c7ee;
  }
}

.opening {
  animation: 5s open-door infinite alternate ease;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 0.5em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle.responsive nav {
    margin: 4px 0 0;
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding: 0 4px;
    border-top: none;
  }

  .navtoggle.responsive li.brackets {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  /* ==============================
Nav brackets animation from https://codepen.io/EvyatarDa/pen/waKXMd
================================= */
  nav > ul > li.brackets a::before,
  nav > ul > li.brackets a::after {
    display: inline-block;
    position: flex;
    opacity: 0;
    font-size: 1.2em;
    top: 0;
    transition: all 0.5s;
  }

  nav > ul > li.brackets a::before {
    content: "(";
    left: 0;
    transform: translateX(10px);
  }

  nav > ul > li.brackets a::after {
    content: ")";
    right: 0;
    transform: translateX(-10px);
  }

  nav > ul > li.brackets a:hover::before,
  nav > ul > li.brackets a:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  /* ==============================
End nav brackets animation
================================= */
  main {
    padding-top: 69px;
  }

  #hero,
  #workhero {
    text-align: center;
  }
  #workhero span {
    display: block;
    text-align: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 8px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #logo {
    max-width: 250px;
    width: 100%;
    display: inline-block;
  }

  #work h2 {
    margin: 16px 0;
  }

  #work h3 {
    margin: 0 0 8px;
  }

  #work p {
    margin: 8px 0;
  }

  #work img {
    padding-top: 8px;
  }

  h2,
  h3,
  h4,
  p,
  ol,
  ul {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

svg {
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 22px;
  }
  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }
}

.projectnav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 100%;
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
