/*
colors used:
Black: #000000;
Dark blue: #13334c;
Purple: #4627ff; Visited: #5100e0; Active: #4600e0
Lighter blue: #005792;
Orange: #fdf500; Active: #e63fob
Parchment: #f7f7eb;
White: #ffffff;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Source Serif Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  color: #005792;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  color: #13334c;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

a {
  color: #4627ff;
  text-decoration: none;
  font-variant: small-caps;
}

a:visited {
  color: #005792;
}

a:hover,
a:focus {
  color: #5100e0;
  text-decoration: underline;
}

a:active {
  color: #4600e0;
  font-weight: 600;
}

img,
svg {
  width: 100%;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #f7f7eb;
  color: #005792;
  /* needed to override the default link color */
  font-size: 1.3em;
  font-weight: 400;
  font-variant: normal;
  /* needed to override the default small-caps font variant */
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #005792;
  /* width of the border, type, color */
  transition-duration: 1s;
  transition-property: border;
}

.button:hover,
.button:focus {
  border: 2px solid #5100e0;
  text-decoration: none;
}

.button:active {
  border: 2px solid #4600e0;
  font-weight: 400;
}

.button.contact {
  background-color: #fd5f00;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  font-variant: normal;
  /* needed to override the default small-caps font variant */
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #fd5f00;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #ffffff;
  color: #fd5f00;
  border: 2px solid #fd5f00;
  opacity: 0.8;
}

.button.contact:active {
  background-color: transparent;
  color: #e63f0b;
  border: 2px solid #e63f0b;
}

/* Layout styling */

header {
  background-color: #f7f7eb;
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.75);
  padding: 8px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

header nav {
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
}

main {
  padding-top: 117px;
}

footer {
  background-color: #f7f7eb;
  border-top: 2px solid #13334c;
  padding: 8px 0;
  width: 100%;
}

#social_icons {
  width: 100%;
  text-align: center;
}

#social_icons img {
  width: 44px;
}

#social_icons ul {
  padding: 0;
}

#social_icons li {
  display: inline-block;
}

#social_icons span {
  display: block;
  padding: 0 8px;
  font-size: 0.8em;
}

.container {
  padding: 0 16px;
}

.feature {
  width: 100%;
  text-align: center;
}

#work .row,
#my_story,
.section {
  border-bottom: 2px solid #13334c;
  padding-bottom: 24px;
  margin: 24px 0; /* 24px top and bottom, 0 left and right */
}

#logo {
  max-width: 250px;
  color: #13334c;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 900;
  justify-content: flex-start;
  text-transform: none;
}

#logo:visited {
  color: #13334c;
}

#logo:hover,
#logo:focus {
  color: #005792;
  text-decoration: none;
}

#logo:active {
  color: #005792;
  font-weight: 900;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 4px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-variant: none;
  color: #005792;
  text-transform: none;
}

nav > ul > li > a:visited {
  color: #005792;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

nav > ul > li > a:active {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

.navtoggle li:not(:last-child),
.navtoggle nav.brackets {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fd5f00;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 1.8em;
  padding-right: 0;
}

.portfolio nav > ol {
  border-top: 2px solid #005792;
  border-bottom: 2px solid #005792;
  margin: 1em 0;
  padding: 1.5em 0;
  text-align: center;
}

.portfolio nav > ol > li {
  display: inline-block;
}

.portfolio nav > ol > li > a {
  padding: 2em 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #005792;
  text-transform: none;
}

.portfolio nav > ol > li > a:visited {
  color: #005792;
}

.portfolio nav > ol > li > a:hover,
.portfolio nav > ol > li > a:focus {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

.portfolio nav > ol > li > a:active {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

#hero {
  background-color: #f7f7eb;
  display: inline-block;
  padding: 0.5em 0;
  width: 100%;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#about h2,
#about h3,
#about h4 {
  margin: 8px 0;
  padding: 0;
}

#about li > p {
  margin: 0.5em 0;
}

#copyright {
  color: #13334c;
  font-size: 0.75em;
  text-align: center;
}

/* ==============================
CSS animation
================================= */

@keyframes trebel-flip {
  0% {
    transform: rotateZ(90deg);
    fill: #000000;
  }
  40% {
    transform: rotateZ(0deg);
    fill: #000000;
  }
  80% {
    transform: rotateZ(0deg);
    fill: maroon;
  }
  100% {
    transform: rotateZ(0deg);
    fill: maroon;
  }
}

.trebel-clef {
  animation: 5s trebel-flip infinite alternate ease;
}

@keyframes bass-spin {
  0% {
    transform: rotateX(90deg);
    fill: #000000;
  }
  40% {
    transform: rotateX(90deg);
    fill: #000000;
  }
  80% {
    transform: rotateX(0deg);
    fill: maroon;
  }
  100% {
    transform: rotateX(0deg);
    fill: maroon;
  }
}

.bass-clef {
  animation: 5s bass-spin infinite alternate ease;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }


  /* ==============================
Nav brackets animation from https://codepen.io/EvyatarDa/pen/waKXMd
================================= */
  nav > ul > li.brackets a:before,
  nav > ul > li.brackets a:after {
    display: inline-block;
    position: flex;
    opacity: 0;
    font-size: 1.2em;
    top: 0px;
    transition: all 0.5s;
  }

  nav > ul > li.brackets a:before {
    content: "(";
    left: 0px;
    transform: translateX(10px);
  }

  nav > ul > li.brackets a:after {
    content: ")";
    right: 0px;
    transform: translateX(-10px);
  }

  nav > ul > li.brackets a:hover:before,
  nav > ul > li.brackets a:hover:after {
    opacity: 1;
    transform: translateX(0px);
  }
  /* ==============================
End nav brackets animation
================================= */

  main {
    padding-top: 69px;
  }

  #hero {
    text-align: center;
  }
  #hero span {
    display: block;
    text-align: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 8px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #logo {
    display: inline-block;
  }

  #work h2 {
    margin: 16px 0;
  }

  #work h3 {
    margin: 0 0 8px 0;
  }
  #work p {
    margin: 8px 0;
  }

  #work img {
    padding-top: 8px;
  }
}

p,
ol,
ul {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 22px;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
