/*
colors used:
Black: #000000;
Dark blue: #13334c;
Purple: #4627ff; Visited: #5100e0; Active: #4600e0
Lighter blue: #005792;
Orange: #fdf500; Active: #e63fob
Parchment: #f7f7eb;
White: #ffffff;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Source Serif Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  color: #005792;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  color: #13334c;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

a {
  color: #4627ff;
  text-decoration: none;
  font-variant: small-caps;
}

a:visited {
  color: #005792;
}

a:hover,
a:focus {
  color: #5100e0;
  text-decoration: underline;
}

a:active {
  color: #4600e0;
  font-weight: 600;
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #f7f7eb;
  color: #005792;
  /* needed to override the default link color */
  font-size: 1.3em;
  font-weight: 400;
  font-variant: normal;
  /* needed to override the default small-caps font variant */
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #005792;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  border: 2px solid #5100e0;
}

.button:active {
  border: 3px solid #4600e0;
}

.button.contact {
  background-color: #fd5f00;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  font-variant: normal;
  /* needed to override the default small-caps font variant */
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #fd5f00;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact:hover,
.button.contact:focus {
  background-color: transparent;
  color: #fd5f00;
  border: 2px solid #fd5f00;
}

.button.contact:active {
  background-color: transparent;
  color: #e63f0b;
  border: 2px solid #e63f0b;
}

/* Layout styling */

header {
  background-color: #f7f7eb;
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.75);
  padding: 8px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

main {
  padding-top: 117px;
}

footer {
  background-color: #f7f7eb;
  border-top: 2px solid #13334c;
  padding: 8px 0;
  position: relative;
  width: 100%;
}

#social_icons {
  width: 20%;
  min-width: 44px;
  max-width: 100px;
  display: inline-block;
  text-align: center;
}

#social_icons ul {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}

.container {
  padding: 0 16px;
}

#work .row {
  border-bottom: 2px solid #13334c;
  padding-bottom: 24px;
  margin: 24px 0; /* 24px top and bottom, 0 left and right */
}

#logo {
  max-width: 250px;
  color: #13334c;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 900;
  text-transform: none;
}

#logo:visited {
  color: #13334c;
}

#logo:hover,
#logo:focus {
  color: #005792;
  text-decoration: none;
}

#logo:active {
  color: #005792;
  font-weight: 900;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-variant: none;
  color: #005792;
  text-transform: none;
}

nav > ul > li > a:visited {
  color: #005792;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

nav > ul > li > a:active {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

nav {
  display: inline-block;
  width: 100%;
}

.portfolio nav > ol {
  border-top: 2px solid #005792;
  border-bottom: 2px solid #005792;
  margin: 1em 0;
  padding: 1.5em 0;
  text-align: center;
}

.portfolio nav > ol > li {
  display: inline-block;
}

.portfolio nav > ol > li > a {
  padding: 2em 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #005792;
  text-transform: none;
}

.portfolio nav > ol > li > a:visited {
  color: #005792;
}

.portfolio nav > ol > li > a:hover,
.portfolio nav > ol > li > a:focus {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

.portfolio nav > ol > li > a:active {
  color: #13334c;
  text-decoration: none;
  font-weight: 600;
}

#hero {
  background-color: #f7f7eb;
  display: inline-block;
  padding: 0.5em 0;
  width: 100%;
}

#hero h1 {
  text-align: center; /* Centers text */
}

.portfolio h2 {
  border-top: 2px solid #005792;
}

#copyright {
  color: #13334c;
  font-size: 0.75em;
  text-align: center;
}
